
.card-post{
    margin:2em auto;
    width:400px;
    background: #FCFCFC;
border: 1px solid #EDEDED;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}
.card-post-image>img{
    width:100%;
    object-fit: cover;
    border-radius:.3em;
    padding:0.5em;
}
.card-post-text{
    display:flex;
    justify-content: space-between;
    padding:0.5em;
}
.card-post-title{
    font-size:1em;
    font-weight:bold;
    color:#000;
    text-transform:capitalize;
}
.card-post-date{
    font-size:.6em;
    font-weight:400;
    color: #B8B8B9;
}
.description{
    font-size:.8em;
    font-weight:400;
    color:#000;
    line-height:1.3em;
    justify-content: center;
    padding:0.5em;
}
.card-post-category{
    padding:0.5em;
}
.category{
    font-size:.6em;
    font-weight:bold;
    text-transform:capitalize;
    color:#2563EB;
    padding:1em;
    background:transparent;
    border: 2px solid #2563EB;
    box-sizing: border-box;
    border-radius: 4px;
    padding:0.5em;
}